<html>
<head>
	<title>raiment.</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Josefin+Sans:400,300,600,700|Quicksand:400,300|Karla:400,700|Martel:400,700,600,300,200,800|Martel+Sans:400,200,300,600|Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="static/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/styles.css" rel="stylesheet" type="text/css">
	<script src="static/js/jquery-1.12.0.min.js"></script>
	<script src="static/js/jquery.lettering.js"></script>
	<script src="static/js/jquery.textillate.js"></script>
	<script src="static/js/scripts.js"></script>
</head>
<body>
	<div id="top-nav">
		<div class="logo"><a href="./index.html">raiment.</a></div>
		<div class="nav-links">
			<a href="#" class="top-nav1">FRESH</a>
			<a href="#" class="top-nav2">STORY</a>
			<a href="./community.html" class="top-nav2">COMMUNITY</a>
			<a href="./mood.html" class="top-nav3">MOOD</a>
		</div>
		<div class="user-nav-links">
			<a href="/logout?next=/login">LOGOUT</a>
		</div>

	</div>

	<div id="main">
		{% block content %}
		{% endblock %}
	</div>



</body>
</html>