
{% extends 'raiment/base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-4 fresh">
		<p class="fresh-text" data-in-effect="fadeInLeft" data-out-effect="fadeOutLeft">___ FRESH</p>
	</div>

	<div class="col-md-4 main-center">
		<div class="community">
			<ul class="community-text-list">
				<li>_____</li>
				<li>&nbsp;C</li>
				<li>&nbsp;O</li>
				<li>&nbsp;M</li>
				<li>&nbsp;M</li>
				<li>&nbsp;U</li>
				<li>&nbsp;N</li>
				<li>&nbsp;I</li>
				<li>&nbsp;T</li>
				<li>&nbsp;Y</li>
			</ul>
		</div>
		<div class="story">
			<p class="story-text1" data-in-effect="fadeInLeft" data-out-effect="fadeOutLeft">// OUR</p>
			<p class="story-text2" data-in-effect="fadeInRight" data-out-effect="fadeOutRight">STORY ___</p>
		</div>
	</div>

	<div class="col-md-4 mood">
		<p class="mood-text1" data-in-effect="fadeInRight" data-out-effect="fadeOutRight">MOOD</p>
		<p class="mood-text2" data-in-effect="fadeInRight" data-out-effect="fadeOutRight" data-out-sync="true" data-in-sync="true">_____</p>
	</div>
</div>

{% endblock %}