<html>
<head>
	<title>raiment.</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|Josefin+Sans:400,300,600,700|Quicksand:400,300|Karla:400,700|Martel:400,700,600,300,200,800|Martel+Sans:400,200,300,600|Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="static/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>

	<div class="row">
		<div class="login-header">
			<p>For the styles that move you.</p>
		</div>
	</div>

	<div class="login">
	</div>

</body>
</html>

