{% extends 'raiment/base.html' %}

{% block content %}

<div class="row">
	<div class="profile-pic" style="background-image: url('img/kristin.jpg')">
	</div>
	<div class="profile-info">
		<p class="profile-name">Kristin Price</p>
		<p class="profile-bio">Professional trash panda dropping it low in Tulsa, Oklahoma.</p>
	</div>
</div>

<div class="posts">
	<img src="img/pic4.jpg"></img>
	<img src="img/pic9.jpg"></img>
	<img src="img/pic8.jpg"></img>
	<img src="img/pic6.jpg"></img>
	<img src="img/pic3.jpg"></img>
	<img src="img/pic2.jpg"></img>
	<img src="img/pic12.jpg"></img>
	<img src="img/pic18.jpg"></img>
	<img src="img/pic1.jpg"></img>
	<img src="img/pic22.jpg"></img>
	<img src="img/pic30.jpg"></img>
</div>

{% endblock %}
